{% extends 'Admin_page/base.html' %} 
{% block content %}
<div class="container">
  <div class="columns is-vcentered is-justify-content-space-between mt-5">
    <div class="column is-3">
      <h1 class="title">แดชบอร์ด</h1>
    </div>
    <div class="column">
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-info" id="toggleFilterButton">
            <span id="filterPeriodLabel">Day</span>
          </button>
        </div>
      </div>
      <div id="filterContainer" class="is-hidden">
        <div class="field is-grouped is-grouped-right mt-3">
          <div class="control">
            <div class="select">
              <select id="timeRange">
                <option value="day">Day</option>
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
                <option value="all_time">All Time</option>
              </select>
            </div>
          </div>
          <div class="control" id="startDateContainer" style="display: none;">
            <input type="date" id="startDate" class="input" />
          </div>
          <div class="control" id="endDateContainer" style="display: none;">
            <input type="date" id="endDate" class="input" />
          </div>
          <div class="control">
            <button class="button is-info" id="filterButton">Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-multiline is-centered mt-5 is-justify-content-start" >
    <div class="column is-one-quarter ">
      <div class="card has-text-centered">
        <div class="card-content">
          <i class="fas fa-dollar-sign fa-3x"></i>
          <p class="subtitle">รายได้ทั้งหมด</p>
          <p id="totalSale" class="title has-text-weight-bold">กำลังคำนวณ...</p>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card has-text-centered">
        <div class="card-content">
          <i class="fas fa-shopping-cart fa-3x"></i>
          <p class="subtitle">จำวนออเด้อทั้งหมด</p>
          <p id="totalOrder" class="title has-text-weight-bold">
            กำลังคำนวณ...
          </p>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card has-text-centered">
        <div class="card-content">
          <i class="fas fa-utensils fa-3x"></i>
          <p class="subtitle">เมนูทั้งหมดในร้าน</p>
          <p id="totalMenuItems" class="title has-text-weight-bold">
            กำลังคำนวณ...
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="columns mt-5">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">เมนูเทรนด์ Top 5</h2>
          <div id="top5OrderMenus" class="content">
            <!-- ข้อมูลเมนู top 5 จะถูกแสดงที่นี่ -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">รีวิวล่าสุด</h2>
          <div id="ReviewRes" class="content">
            <!-- ข้อมูลรีวิวล่าสุดจะถูกแสดงที่นี่ -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns mt-5">
    <div class="column is-full">
      <div id="notifications">
        <!-- Notifications -->
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}