{% extends 'Admin_page/base.html' %}

{% block content %}
<div id="add-edit" class="container" hidden="hidden">
  <div id="header" class="container">
    <h1>Table Management</h1>
  </div>
  <div id="add-edit" class="container">
    <h2 id="add-edit-caption">Add/Edit a Table:</h2>
    <form id="addTableForm">
      <label for="qr_code">QR Code</label>
      <input type="text" id="qr_code" name="qr_code" placeholder="QR Code URL.." required />
      <label for="status">Status</label>
      <select id="status" name="status" required>
        <option value="Available">Available</option>
        <option value="Occupied">Occupied</option>
        <option value="Reserved">Reserved</option>
      </select>
      <label for="ctable_name">Table name</label>
      <input type="text" id="ctable_name" name="ctable_name" value="" required placeholder="Enter Table ID" />
      <input type="hidden" id="table_id" name="id" />
      <input type="submit" name="submit" value="Submit" />
      <button id="clear_form" type="button">Clear</button>
      <button id="cancel_form" type="button">Cancel</button>
    </form>
  </div>
</div>
<div id="table_display" class="container">
  <button id="add_table" type="button">Create Table</button>
  <p></p><br />
  <h2>Tables:</h2>
  <table class="table-striped border-success" id="table-table">
    <thead>
      <tr>
        <th data-field="ctable_name"><span class="text-success"> Table name </span></th>
        <th data-field="qr_code"><span class="text-success"> QR Code </span></th>
        <th data-field="status"><span class="text-success"> Status </span></th>
        <th data-field="operation" data-formatter="actionFormatter" data-events="operateEvents">
          <span class="text-success"> Edit/Delete </span>
        </th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
  function populate_table(table_data) {
    $('#table-table').bootstrapTable({
      data: table_data,
      loadingTemplate: function () {
        return '' // เอาข้อความ "Loading, please wait" ออก
      }
    })

    $('#table-table').bootstrapTable('hideColumn') // Hide the ID column
  }

  $(document).ready(function () {
    ;(function () {
      $.getJSON('/table/tables', populate_table)
    })()
  })

  function refresh_table(table_data) {
    $('#table-table').bootstrapTable('load', table_data)
  }

  $('#addTableForm').submit(function (event) {
    // prevent default html form submission action
    event.preventDefault()

    // pack the inputs into a dictionary
    var formData = {}
    $(':input').each(function () {
      var key = $(this).attr('name')
      var val = $(this).val()
      if (key != 'submit') {
        formData[key] = val
      }
    })

    var $form = $(this)
    var url = '/table'

    // make a POST call to the back end w/ a callback to refresh the table
    $.post(url, formData, function (table_data) {
      refresh_table(table_data)
      clearForm()
      toggleView()
    })
  })

  function clearForm() {
    $('#addTableForm')[0].reset()
  }

  function toggleView() {
    if ($('#table_display').attr('hidden')) {
      $('#table_display').removeAttr('hidden')
      $('#add-edit').attr('hidden', 'hidden')
    } else {
      $('#table_display').attr('hidden', 'hidden')
      $('#add-edit').removeAttr('hidden')
    }
  }

  function actionFormatter(value, row, index) {
    return [
      '<a class="edit" href="javascript:void(0)" title="Edit">',
      '✏️',
      '</a>  ',
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '🗑️',
      '</a>',
    ].join('')
  }

  window.operateEvents = {
    'click .edit': function (e, value, row, index) {
      prePopulateForm(row)
    },
    'click .remove': function (e, value, row, index) {
      removeItem(row)
    },
  }

  function prePopulateForm(row) {
    $('#addTableForm')[0].reset();
    $('#table_id').val(row.ctable_name	);
    $('#qr_code').val(row.qr_code);
    $('#status').val(row.status);
    $('#ctable_name').val(row.ctable_name	); // ตั้งค่าของ ctable_name	
    toggleView();
}

function removeItem(row) {
  if (!confirm('Delete table with ID ' + row.ctable_name	 + '?')) {
      return false
  }
  var url = '/table/remove_table'
  var formData = { id: row.ctable_name	 }
  $.post(url, formData, function (table_data) {
      refresh_table(table_data)
  })
}

  $('#add_table').click(function () {
    clearForm()
    toggleView()
  })

  $('#clear_form').click(function () {
    clearForm()
  })

  $('#cancel_form').click(function () {
    clearForm()
    toggleView()
  })
</script>
{% endblock %}
