{% extends 'Admin_page/base.html' %} {% block content %}
<div id="add-edit" class="container" hidden="hidden">
  <div id="header" class="container">
    <h1 class="title has-text-black">Table Management</h1>
  </div>
  <div id="add-edit" class="container">
    <h2 id="add-edit-caption" class="subtitle has-text-black">
      Add/Edit a Table:
    </h2>
    <form id="addTableForm" class="box">
      <div class="field">
        <input class="input" type="hidden" id="table_id"  value="table_id" name="table_id" >
        <label class="label has-text-black" for="status">Status</label>
        <div class="control">
          <div class="select">
            <select id="status" name="status" required>
              <option value="Available" selected>Available</option>
              <option value="Reserved">Reserved</option>
              <option value="Occupied">Occupied</option>
              <option value="Paid">Paid</option>
            </select>
          </div>
        </div>
      </div>
      <input type="hidden" id="CT_id" name="id" />
      <div class="field is-grouped">
        <div class="control">
          <input
            class="button is-link"
            type="submit"
            name="submit"
            value="Submit"
          />
        </div>
        <div class="control">
          <button id="clear_form" class="button is-light" type="button">
            Clear
          </button>
        </div>
        <div class="control">
          <button id="cancel_form" class="button is-light" type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card p-5">
<div id="table_display" class="container">
  <button id="add_table" class="button is-primary" type="button">
    Create Table
  </button>
  <p></p>
  <br />
  <div class="table-container">
    <table
      class="table is-striped is-bordered is-hoverable is-fullwidth"
      id="table-table"
      data-search="true"
      data-sort-name="CT_id"
      data-sort-order="asc"
    >
      <thead>
        <tr>
          <th data-field="table_id" data-sortable="true">
            <span class="has-text-black"> Table ID </span>
          </th>
          <th data-field="qrcode" data-sortable="true">
            <span class="has-text-black"> QR Code </span>
          </th>
          <th data-field="status" data-sortable="true">
            <span class="has-text-black"> Status </span>
          </th>
          <th
            data-field="operation"
            data-formatter="actionFormatter"
            data-events="operateEvents"
          >
            <span class="has-text-black"> Edit/Delete </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Add rows dynamically -->
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/notification.js') }}"></script>
<script>
  function populate_table(table_data) {
    
    $("#table-table").bootstrapTable({
      data: table_data,
      columns: [
        {
          field: "table_id",
          title: "Table ID",
          sortable: true,
        },
        {
          field: "qrcode",
          title: "QR Code",
          sortable: true,
          formatter: function (value) {
            const imagePath = value.replace("app/", "/");
            return `<img src="${imagePath}" alt="QR Code" style="width: 80px; height: 80px;">`;
          },
        },
        {
          field: "status",
          title: "Status",
          sortable: true,
        },
        {
          field: "operation",
          title: "Edit/Delete",
          formatter: actionFormatter,
          events: operateEvents,
        },
      ],
      loadingTemplate: function () {
        return "";
      },
    });
  }

  $(document).ready(function () {
    (function () {
      $.getJSON("/table/get_all_table", populate_table);
    })();
  });

  function refresh_table(table_data) {
    $("#table-table").bootstrapTable("load", table_data);
  }

  $("#addTableForm").submit(function (event) {
    event.preventDefault();

    var formData = {};
    $(":input").each(function () {
      var key = $(this).attr("name");
      var val = $(this).val();
      if (key != "submit") {
        formData[key] = val;
      }
    });

    var $form = $(this);
    var url = "/table/admin";

    $.post(url, formData, function (table_data) {
      refresh_table(table_data);
      clearForm();
      toggleView();
    });
    fetchNotifications()
  });

  function clearForm() {
    $("#addTableForm")[0].reset();
  }

  function toggleView() {
    if ($("#table_display").attr("hidden")) {
      $("#table_display").removeAttr("hidden");
      $("#add-edit").attr("hidden", "hidden");
    } else {
      $("#table_display").attr("hidden", "hidden");
      $("#add-edit").removeAttr("hidden");
    }
  }

  function actionFormatter(value, row, index) {
    return [
      '<a class="edit" href="javascript:void(0)" title="Edit">',
      "✏️",
      "</a>  ",
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      "🗑️",
      "</a>",
    ].join("");
  }

  window.operateEvents = {
    "click .edit": function (e, value, row, index) {
      prePopulateForm(row);
    },
    "click .remove": function (e, value, row, index) {
      removeItem(row);
    },
  };

  function prePopulateForm(row) {
    console.log(row)
    $("#addTableForm")[0].reset();
    $("#table_id").val(row.table_id);
    $("#qr_code").val(row.qr_code);
    $("#status").val(row.status);
    toggleView();
  }

  function removeItem(row) {
    if (!confirm("Delete table with ID " + row.table_id + "?")) {
      return false;
    }
    var url = "/table/delete";
    var formData = { table_id: row.table_id };
    $.post(url, formData, function (table_data) {
      refresh_table(table_data);
    });
    fetchNotifications()
  }

  $("#add_table").click(function () {
    clearForm();
    toggleView();
    $.getJSON("/table/get_all_table", function(x){
      let lasttable = Object.keys(x).length + 1;
      $('#table_id').val(lasttable);
    });
  });

  $("#clear_form").click(function () {
    clearForm();
  });

  $("#cancel_form").click(function () {
    clearForm();
    toggleView();
  });
</script>
{% endblock %}
