{% extends 'Admin_page/base.html' %}
{% block content %}
<div class="columns mt-5 is-multiline">
  <!-- Revenue Overview -->
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle">Revenue Overview</h2>
        <div class="field is-grouped">
          <div class="control is-expanded">
            <select id="yearSelector" multiple="multiple">
              <option value=""></option>
            </select>
          </div>
          <div class="control">
            <button class="button is-info" id="updateChart">Update Chart</button>
          </div>
        </div>
        <canvas id="revenueChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Customer Insights -->
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle">Customer Insights</h2>
        <div class="field">
          <div class="control is-expanded">
            <select id="customerTimeSelector" class="select2">
              <option value="all_time">All Time</option>
              <option value="yearly">Yearly</option>
              <option value="monthly">Monthly</option>
              <option value="weekly">Weekly</option>
            </select>
          </div>
        </div>
        <canvas id="customerChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Payment Methods -->
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle">Payment Methods</h2>
        <div class="field">
          <div class="control is-expanded">
            <select id="paymentMethodTimeSelector" class="select2">
              <option value="all_time">All Time</option>
              <option value="yearly">Yearly</option>
              <option value="monthly">Monthly</option>
              <option value="weekly" selected>Weekly</option>
            </select>
          </div>
        </div>
        <canvas id="paymentMethodChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Employee Roles -->
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle">Employee Roles</h2>
        <canvas id="employeeRolesChart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}