{% extends 'Admin_page/base.html' %}
{% block content %}
<div class="row mt-5 is-flex is-justify-content-space-between">
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <h2 class="subtitle">Revenue Overview</h2>
        <div class="field is-grouped">
          <div class="control is-expanded">
            <select id="yearSelector" multiple="multiple">
              <option value=""></option>
            </select>
          </div>
          <div class="control">
            <button class="button is-info" id="updateChart">Update Chart</button>
          </div>
        </div>
        <canvas id="revenueChart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}
