services:
  flask:
    build: flask
    ports:
      - "56733:8000"
    volumes:
      - ./flask:/flask_app
    working_dir: /flask_app
    env_file:
      - .env.dev
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    networks:
      - flask-network # Add this line

  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: Pladug
      POSTGRES_PASSWORD: Pladug
      POSTGRES_DB: Pladug_dev
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    networks:
      - flask-network # Add this line

  ngrok:
    image: wernight/ngrok
    environment:
      - NGROK_PORT=flask:8000
      - NGROK_AUTHTOKEN=2tlKnzZMISCpOkNt60rQCgJ2INl_4WcZTLnwsRDP3rEZFLm2z
    ports:
      - "4040:4040"
    entrypoint: ["sh", "-c", "ngrok http flask:8000"]
    networks:
      - flask-network

networks:
  flask-network:
    driver: bridge

volumes:
  postgres_data:
