name: "Pladug Resturant"
services:
  flask:
    build: flask
    ports:
      - "56733:8000"
    volumes:
      - ./flask:/flask_app
    env_file:
      - .env.dev
    depends_on:
      - db
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: Pladug
      POSTGRES_PASSWORD: Pladug
      POSTGRES_DB: Pladug
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
  pgadmin:
    container_name: pgadmin4_pladug
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
volumes:
  postgres_data:
